
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Estilos da seção principal */
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

main h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

section {
    margin-top: 40px;
}

section h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

article {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 40px;
}

article h4 {
    font-size: 20px;
    margin-top: 0;
}

article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

ul, ol {
    margin-bottom: 20px;
}

/* Estilos do rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
